@model IEnumerable<EFCRUD.Models.State>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- .page-inner -->
<div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
        <!-- .breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="@Url.Action("Index","Home")"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Home</a>
                </li>
            </ol>
        </nav><!-- /.breadcrumb -->
    
        <div class="d-md-flex align-items-md-start">
            <h1 class="page-title mr-sm-auto"> City Table </h1><!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div><!-- /.btn-toolbar -->
        </div><!-- /title and toolbar -->
    </header><!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
        <!-- .card -->
        <div class="card">
            <!-- .card-header -->
            <div class="card-header text-right">
                <a href=@Url.Action("Create", "States") class="btn btn-primary "><i class="fa fa-plus mr-1"></i> Add State </a>
            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <!-- .table -->
                <table id="myTable2" class="table">
                    <!-- thead -->
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StateName)
                            </th>
                            <th></th>
                        </tr>
                    </thead><!-- /thead -->
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StateName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.card-body -->
        </div><!-- /.card -->
    </div><!-- /.page-section -->
</div>


